/.project
/feed-reeder-webapp/.project
/feed-reeder-webapp/.classpath
target
.project
.classpath
.settings
feed-reeder-persistence/SQL/Flyway/flyway.conf
feed-reeder-home/init/init.properties2
feed-reeder-persistence/SQL/Flyway/flyway.conf
feed-reeder-persistence/SQL/Flyway/flyway.conf
