<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c : %m%n%ex</Property>
		<Property name="LOG_DIR">./feeder/logs</Property>
	</Properties>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="FILE" filename="${LOG_DIR}/app.log"
			filePattern="${LOG_DIR}/archive/app-%d{yyyy_MM_dd}.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="REST" filename="${LOG_DIR}/rest.log" filePattern="${LOG_DIR}/archive/rest-%d{yyyy_MM_dd}.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.jrsofty.web.feeder.server.rest" additivity="false">
			<AppenderRef ref="REST" />
		</Logger>
		<Logger name="com.jrsofty.web" level="debug">
			<AppenderRef ref="FILE" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>

</Configuration>